@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

@theme {
  /* Modo Claro */
  --color-primary: #183f94;
  --color-primary-hover: #2563eb;
  --color-secondary: #db7b1f;
  --color-main-bg: #ffffff;
  --color-card-bg: #ffffff;
  --color-main-text: #111827;
  --color-border: #e5e7eb;
  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;
  --color-success: #9eed93;
  --color-success-hover: #226319;
  --color-progress: #f5f39f;
  --color-progress-hover: #915011;
  --color-page-task: #2563eb;
  --color-page-task-hover: #1d4ed8;
  --color-page-project: #d68954;
  --color-page-project-hover: #c2410c;
  --color-page-tag: #851b87;
  --color-page-tag-hover: #561157;
  --color-page-profile: #10359c;
  --color-page-profile-hover: #1440b3;
  --color-black: #2b2b2b;
}

/* Modo Oscuro*/
.dark {
  --color-primary: #60a5fa;
  --color-primary-hover: #3b82f6;
  --color-secondary: #9ca3af;
  --color-main-bg: #101828;
  --color-card-bg: #1f2937;
  --color-main-text: #f3f4f6;
  --color-border: #374151;
  --color-danger: #f87171;
  --color-danger-hover: #ef4444;
  --color-success: #9eed93;
  --color-success-hover: #226319;
  --color-progress: #915011;
  --color-progress-hover: #f5f39f;
  --color-page-task: #60a5fa;
  --color-page-task-hover: #3b82f6;
  --color-page-project: #fb923c;
  --color-page-project-hover: #f97316;
  --color-page-tag: #a78bfa;
  --color-page-tag-hover: #8b5cf6;
  --color-page-profile: #1440b3;
  --color-page-profile-hover: #10359c;
}
